@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Universe";
  src: url("/fonts/universRegular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Universe";
  src: url("/fonts/universBold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Universe";
  src: url("/fonts/universLight.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Universe Condensed";
  src: url("/fonts/universCnRg.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Universe Condensed";
  src: url("/fonts/universCnBold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@layer utilities {
  .font-universe {
    font-family: "Universe", sans-serif;
  }
  .font-universe-condensed {
    font-family: "Universe Condensed", sans-serif;
  }
}
