@import "tailwindcss";

/* Force light mode styles */
body {
  background-color: white !important;
  color: black !important;
}

/* Font definitions */
@font-face {
  font-family: "Universe";
  src: url("/fonts/universRegular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Universe";
  src: url("/fonts/universBold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Universe";
  src: url("/fonts/universLight.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Universe Condensed";
  src: url("/fonts/universCnRg.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Universe Condensed";
  src: url("/fonts/universCnBold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}
